{% extends 'base.html' %}

{% block title %}List Users{% endblock %}

{% block header %}List of Users{% endblock %}

{% block content %}

<div id="alphabet-menu">
    {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
    <span class="menu-item" onclick="showUsersByLetter('{{ letter }}')">{{ letter|upper }}</span>
    {% endfor %}
</div>


<table id="user-table">
    <thead>
    <tr>
        <th class="name">Name</th>
        <th class="cpf">CPF</th>
        <th class="email">Email</th>
        <th class="join_date">Join Date</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users|dictsort:"name" %}
    <tr data-letter="{{ user.name|first|lower }}">
        <td><a href="{% url 'list_tasks' user.user_id %}">{{ user.name }}</a></td>
        <td class="cpf">{{ user.cpf }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.join_date }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    function showUsersByLetter(letter) {
        const rows = document.querySelectorAll('#user-table tbody tr');
        rows.forEach(row => {
            row.style.display = row.dataset.letter === letter ? '' : 'none';
        });
    }

    showUsersByLetter('a')
</script>

{% endblock %}